:root {
  --color-primary: #067572;
  --color-primary-medium: #c1ffe8;
  --color-primary-light: #e5fff9;
  --color-background: #f1f1f1;
  --color-text: #0A0A0A;
  --color-focus: #7a4dff;

  --app-width: 120rem;
  --app-width-lg: 140rem;
  --app-gap: 2rem;
  --app-border-radius: 3rem;
}

/*@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand.ttf');
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-text);
  font-family: Quicksand, sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 4rem 0;
}

footer {
  margin-top: auto;
}
